.noMargin {
    margin: 0 !important;
}

.noShow {
    height: 0;
    padding: 0;
    margin: 0;
}

.hideOffscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -999999px;
}

.scroll-container > .row:first-child > div {
    margin-top: 20px;
}

.row {
    max-width: 100em;
}

.slick-prev::before,
.slick-next::before {
    color: #ffffff !important;
}

.slick-next {
    right: -10px;
}

.slick-prev {
    left: -10px;
}

.slick-slider {
    margin-bottom: 20px;
}

.station {
    text-align: center;
    cursor: pointer;
    height: 100px;
    margin: 0 10px;
    margin-top: 10px;
    background-size: 100% 100%;
    color: white;
}

.station.slick-center {
    height: 120px;
    margin-top: 0;
}

.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    max-height: 600px; /*May end up removing this for a more flexible layout... maybe not :3 */
}

.flex-video:not(.noShow) {
    padding-bottom: 62%;
}

/*
#stations {
    margin-top: 20px;
}

#videoSkip {
    margin: 0;
}
*/

#sxmtBody {
    /*background-size: 100% 100%;*/
}

#videoColumn, #historyColumn {
    margin: 20px 0;
}

#videoUrl > a {
    color: #000000;
}

@media only screen and (max-width: 64em) {
    #historyColumn {
        margin-top: 0;
    }
    #videoHistoryNav {
        max-height: none !important;
    }
}

.sidebar {
    background: #FAFAFA;
}

#sidebarRight {
    padding: 0;
}

#videoHistoryHeader > h5 {
    padding: 10px 25px;
    margin: 0;
}

#videoHistoryHeader > hr {
    padding: 0;
    margin: 0;
}

#videoHistoryNav {
    padding: 10px 20px;
    overflow: auto;
}

#videoHistory {
    padding: 1rem 0 0;
}

.historyEntry {
    word-break: break-all;/*replace with text-overflow ellipses or marquee maybe*/
    display: block;
    font-size: 10px;
    padding: 10px;
    height: 100px;
}

.historyTitle {
    font-size: 12px;
}

.about-box {
	position: relative;
	left: 25%;
}

.about-box * {
	text-align: center;
}

.hidden {
	display: none;
}