.noMargin {
    margin: 0 !important;
}

.noShow {
    height: 0;
    padding: 0;
    margin: 0;
}

.hideOffscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -999999px;
}

.scroll-container > .row:first-child > div {
    margin-top: 20px;
}

.slick-prev::before, .slick-next::before {
    color: #000000 !important;
}

.slick-next {
    right: -10px;
}

.slick-prev {
    left: -10px;
}

.station {
    text-align: center;
    cursor: pointer;
    height: 100px;
    margin: 0 10px;
    margin-top: 10px;
}

.station.slick-center {
    height: 120px;
    margin-top: 0;
}

.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    max-height: 600px; /*Will end up removing this for a more flexible layout...*/
}

.flex-video:not(.noShow) {
    padding-bottom: 62%;
}

#videoSkip {
    margin: 0;
}

.sidebar {
    background: #FAFAFA;
    padding: 10px 20px;
}

.historyEntry {
    word-break: break-all;
    cursor: pointer;
}
